/* AddContact.css */
.add-contact {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px auto;
    border-radius: 6px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .addcontact-itemfield {
    width: 100%;
    color: #1B263B; /* Azul Escuro para textos */
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .addcontact-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #778DA9; /* Azul Claro para bordas */
    outline: none;
    color: #1B263B; /* Azul Escuro para texto */
    font-family: 'Poppins';
    font-size: 14px;
  }
  
  .addcontact-phone-numbers {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .addcontact-phone-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .addcontact-phone-field input {
    flex: 1;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #778DA9; /* Azul Claro para bordas */
    outline: none;
    color: #1B263B; /* Azul Escuro para texto */
    font-family: 'Poppins';
    font-size: 14px;
  }
  
  .remove-phone-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .add-phone-btn {
    background-color: #415A77; /* Azul Médio */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .addcontact-btn {
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background-color: #415A77; /* Azul Médio */
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
  
  .addcontact-btn:hover {
    background-color: #1B263B; /* Azul Escuro ao passar o mouse */
  }
  
  @media (max-width: 800px) {
    .add-contact {
      width: auto;
      padding: 30px;
      margin: 20px;
    }
  }