#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #E0E1DD; /* Fundo principal */
  min-height: 100vh;
}

/* Estilos globais para botões */
button {
  background-color: #778DA9; /* Azul Claro para botões */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #415A77; /* Azul Médio ao passar o mouse */
}

/* Estilos para links */
a {
  color: #1B263B; /* Azul Escuro para links */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #415A77; /* Azul Médio ao passar o mouse */

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
