.list-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 6px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listcontact-header,
.listcontact-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 0.5fr;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 15px 0;
  color: #1B263B; /* Azul Escuro para textos */
  font-size: 15px;
  font-weight: 600;
}

.listcontact-contacts {
  width: 100%;
  overflow-y: auto;
}

.listcontact-remove-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions button {
  background: #415A77; /* Azul Médio */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.actions button:hover {
  background: #1B263B; /* Azul Escuro ao passar o mouse */
}

@media (max-width: 800px) {
  .listcontact-header,
  .listcontact-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 14px;
  }

  .listcontact-remove-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .listcontact-header,
  .listcontact-item {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .listcontact-remove-icon {
    width: 18px;
    height: 18px;
  }

  .listcontact-header > p:nth-child(n+3),
  .listcontact-item > p:nth-child(n+3) {
    display: none;
  }
}